*{
  margin:auto;
  font-family: Poppins;
  font-size: 1.2rem;  
}
Body{
  background-color: #2F303A;
  font-family: 'Poppins', sans-serif;
  color: white;
} 
header{
  display: flex; 
}
.imgGirl{
  max-width: 65%;
  max-height: 65%;
}

#logo1{
  gap: 10px;
  display: flex; 
}
#botones{
  gap: 10px;
  display: flex;
}
.boton{
  background-color: #1762A7;
  color: white;
  padding: 14px 20px;
  margin-top: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.form{
  background-color: #202027;
  margin: 3em;
  padding: 2em;
  border-radius: 15px;
  width: 20em;
  font-weight: bold;
  z-index: 1;
}
.input{
  width: 100%;
  margin-top:0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  background-color:#202027;
  border: #1762A7 1px solid;
  border-radius: 4px;
}
.button-form{
  width: 100%;
  background-color: #1762A7;
  color: white;
  padding: 14px 20px;
  margin-top: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.button-form:hover{
  background-color: #1762A7;
}
.text-join{
  font-size: 2.5rem;
}
.acent{
  font-size: 2.5rem;
  color: fuchsia;
}
#footer>div {
  display: flex;
  gap: 10px;
}
#footer{
  display:flex;
}
